#beadCrumb{
    font-size: 14px;
    line-height: 18px;
    text-align: left;
    text-transform: uppercase;
    color: black;
    .breadcrumb-item+.breadcrumb-item::before {
        float: left;
        padding-right: 11px;
        color: black;
        font-size: 14px;
        content: ">";
    }
    .breadcrumb-item{
        a{
            color: #000000;
            text-decoration: underline;
        }
      
    }
    a.active{
        color: #000000;
        text-decoration: none !important;
    }
    .theme-pearl.store-view-default .breadcrumbs .item:not(:last-child):after{
        padding-left: 17px !important;
    }
}