#create_acc_form{
    margin-top: 50px;
    font-size: 18px;
    line-height: 26px;
    .info{
       
    }
    .form_title{
        margin: 0 0 20px;
        padding: 0 0 10px;
        width: 100%;
        box-sizing: border-box;
        float: left;
        font-weight: 300;
        line-height: 1.2;
        font-size: 22px;
        border-bottom: 1px solid #c6c6c6;

    }
    label{
        margin: 0 0 8px;
        display: inline-block;
        font-weight: 600;
        font-size: 18px;
        line-height: 25px;
    }
    .doc{
        color: #cd4c21;
        font-size: 14px;
    }
    input[type='text'],input[type='date'],select,input[type='email'],input[type='password']{
        border-color: #b7b7b7;
        background-color: #ffffff;
        border-radius: 1px;
        border-style: solid;
        line-height: 23px;
        padding: 0px 9px;
        height: 32px;
        &:focus{
            outline: none;
            box-shadow: none;
        }
    }
    textarea{
        border: 1px solid #b7b7b7;
        border-radius: 1px;
        &:focus{
            outline: none;
            box-shadow: none;
        }
    }
    .field{
        margin: 0 0 20px;
    }
    input[type="checkbox"]{
        margin: 2px 5px 0 0;
    }
    select{
        border: 1px solid #b7b7b7;
        &:focus{
            box-shadow: none;
            outline: none;
        }
    }
}