#left_sidebar{
    max-width: 90%;
    .left_sidebar_content{
        .product{
            font-size: 28px;
            font-weight: 900;
            line-height: 30px;
            margin: 25px 0px 20px;
        }
    }
}