#filterIdeas{
    &.position{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .wdt_btn{
        color: black !important;
        width: 340px;
        line-height: 32px;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 28px;
        margin: 5px 0px;
        &:focus{
            box-shadow: none;
            background-color: transparent;
        }
    }
    .accordion{
        
        --bs-accordion-active-bg: none;
        --bs-accordion-border-width: none;
        --bs-accordion-btn-icon: url("../../../../assects/images/dropdownBig.png");
        --bs-accordion-btn-active-icon: url("../../../../assects/images/dropdownBig.png")
    }
    .accordion-button{
        padding: 0;
        background: transparent;
        &::after{
            margin-left: 20px !important;
        }
    }
    .togglec{
        box-shadow: 0 20px 30px 0 rgb(0 0 0 / 5%);
        padding: 10px 0 0 24px;
        .ideas-filters-section{
           margin-bottom: 8px;
           font-size: 18px;
          
        }
        .ideas-filters-option{
            padding-left: 1rem;
            .form-check{
                color: black;
                input[type= checkbox]{
                    border: 1px solid black;
                    &:focus{
                        box-shadow: none;
                    }
                }

            }
        }
    }
    .accordion-item{
        background: transparent;
    }
}
