.card-item-product{
    margin-bottom: 45px;
    padding: 10px;
    color: #000000;
   .product-item{
    width: 100%;
        .product-item-info{
            .product_image{
                width: 443px;
                height: 443px;
                position: relative;
                .image{
                    border: 1px solid #b7b7b7 !important;
                    width: 100%;
                    &:hover{
                        border: 1px solid #f7b917  !important;
                    }
                    a{
                        img{
                            width: 100%;
                            height: auto;
                        }
                    }
                }
                .heart{
                    position: absolute;
                    top: 3%;
                    left: 4%;
                }
            }
            .product-item-details{
                .name_card{
                    min-height: 46px;
                    margin-bottom: 20px;
                    margin-top: 3px;
                    a{
                        h3{
                            color: #000000 !important;
                            font-size: 14px;
                            line-height: 15px;
                            text-transform: uppercase;
                            &:hover{
                                text-decoration: underline;
                            }
                        }
                    }
                }
                .rating-star{
                    // margin-bottom: 10px;
                    min-height: 30px;
                    .star-vote{
                        margin-right: 10px;
                       span{
                        margin-right: 1px;
                        img{
                            width: 19px;
                            height: 18px;
                        }
                       }
                    }
                    .cout-vote{
                        font-size: 18px;
                        line-height: 26px;
                    }
                }
                .price{
                    margin: 10px 0 25px;
                    font-weight: 700;
                    padding: 0px 3px 0px 0px;
                    font-size: 16px;
                }
                .btn_card_product{
                    a{
                        padding: 10px 15px !important;
                        margin: 0 !important;
                    }
                }
            }
        }
   } 
}
