#ideaPost{
    .page-main{
        .ideas-post{
            width: 100%;
            overflow: hidden;
            padding: 0;
            margin: 0;
            .ideas-post-img{
                background-position: center center;
                background-size: cover;
                background-repeat: no-repeat;
                background-attachment: scroll;
            }
            .ideas-post-desc{
                padding: 0px 80px;
            }
            .bg-yellow{
                background-color: #F7B917 !important;
                .ideas-post-title{
                    color: black;
                    font-size: 18px;
                    line-height: 25.7px;
                }
                .ideas-post-number{
                    line-height:28.5714px;
                    font-size: 20px;
                }
                .ideas-post-heading{
                    font-size: 28px;
                    line-height: 30px;

                }
                .tiki-idea-post-text{
                    margin: 0px 0px 10px;
                    font-size: 18px;
                    line-height: 26px;
                }
                .tiki-idea-post-tags{
                    font-size: 18px;
                    margin: 0px 0px 10px;
                    padding: 0px 0px 30px;
                    a{
                        color: black;
                        &:hover{
                            text-decoration: underline;
                        }
                    }
                }
            }
            
        }
           
        }
}