#createAcc{
    margin-top: 30px;
    padding: 0 15px;
    .creAcc_title{
        h1{
            font-size: 45px;
            text-transform: uppercase;
            line-height: 1.1;
            font-weight: 900;
            // letter-spacing: -2px;
        }
    }
}   